.messages__list .message__container .message-text__container {
	& + .player__container {
		margin-top: 0.5rem;
	}

	p {
		margin: 0;
		padding: 0;
		span {
			padding: 0;
		}
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}
	code {
		margin: 1rem 0;
		display: block;
	}
}
