:host {
	--offset: var(--chat-control-offset, 0.1px);
	--height: calc(100svh - var(--offset));
}

// .chat-control__container {
// 	// min-height: var(--height);
// 	transition: all 300ms ease-in;
// 	position: relative;
// }

.separator {
	margin-top: 6rem;
}

.pragmate-icon-button svg.pragmate-icon {
	width: 20px;
	height: 20px;
}

.chat-control__container {
	height: 100%;
	width: 100%;
	// background: gray;
	display: grid;
	grid-template-rows: 1fr auto;

	.chat__content {
		position: relative;
		overflow: auto;

		width: 100%;
		// overflow-y: scroll;
	}

	.footer-container {
		position: sticky;
		bottom: 0;
		padding: 1rem;
		background: black;
	}
}
