.pragmate-icon-button svg.pragmate-icon {
	width: 20px;
	height: 20px;
}

.chat-control__container {
	height: 100%;
	width: 100%;

	// background: gray;
	display: grid;
	grid-template-rows: 1fr auto;

	// background: yellow;

	.chat__content {
		position: relative;
		// overflow: auto;

		width: 100%;
		// overflow-y: scroll;
	}

	.code-block__container {
		display: block;
		overflow: scroll;
		width: 100%;
	}
}
