:host {
	--offset: var(--chat-control-offset, 0.1px);
	--height: calc(100svh - var(--offset));
}

.chat-control__container {
	min-height: var(--height);
	transition: all 300ms ease-in;
	position: relative;
}

.separator {
	margin-top: 6rem;
}
.chat__content {
	position: relative;
	overflow: auto;
	flex-grow: 1;
	width: 100%;
}

.pragmate-icon-button svg.pragmate-icon {
	width: 20px;
	height: 20px;
}
