.container__icon {
	.pui-icon-button.scroll-bottom {
		z-index: 2;
		position: absolute;
		left: calc(50% - 20px);
		transform: rotate(-90deg);
		border-radius: 50%;
		top: -50px;

		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&.show {
		.pui-icon-button.scroll-bottom {
			opacity: 0.4;
			display: inline-grid;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.footer-container {
	position: sticky;
	bottom: 0;
	z-index: 10;
}
