.users-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  .plus-icon {
    cursor: pointer;
    color: var(--primary);
    border-radius: 50%;
    border: 1px solid var(--primary);
  }
}
