.upload-modal {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.documents-drag {
	cursor: grabbing;
	border: 2px dashed var(--color-gray-20);
	border-radius: 15px;
	background-color: var(--surface);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	p {
		max-width: 300px;
	}
}

.files {
	padding: 2.5rem;
	padding-top: 0;
}

table,
td,
th {
	border: 2px solid var(--primary);
	border-collapse: collapse;
	padding: 10px;
}
table {
	width: 100%;
}
td {
	text-align: end;
}

.file-name,
.file-date {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}

.error {
	color: var(--on-error);
	background-color: var(--error);
	padding: 0.5rem 1rem;
	border-radius: 5px;
	width: fit-content;
	margin: 0 auto;
}
