.playable-container {
	--hover-word-color: rgba(0, 0, 0, 0.5);
	.message-text__container {
		cursor: pointer;
		span {
			padding: 0.25rem 0.1rem;
		}
		span:hover {
			background: var(--hover-word-color);
		}
		.highlight {
			background: red !important;
		}
	}
}
