.sidebar__search {
	display: flex;
	justify-content: space-between;
	margin-block: 1rem;
	gap: 1rem;
	max-height: 40px;
}
.aside__top {
	border-bottom: 1px solid var(--color-gray-10);
	padding-bottom: 1rem;
	display: flex;
	align-items: center;
	height: 60px;

	@media (max-width: 768px) {
		display: none;
	}
}
