.chat-input-form {
	display: flex;
	width: 100%;
	border: var(--border-radius-sm);
	position: relative;
	background-color: var(--surface);
	border: 1px solid var(--surface-dim);
	border-radius: var(--border-radius-sm);
	align-items: stretch;
	border: 1px solid;

	.input__textarea {
		border: none;
		display: flex;
		padding: 0.5rem;
		align-items: center;
		background-color: transparent;
		color: var(--text-color);
		resize: none;
		overflow-y: auto;
		width: 100%;
		outline: none;
		max-height: 100px;
		&:disabled {
			cursor: not-allowed;
		}
	}

	.input__icon {
		align-self: center;
		transition: all 0.3s ease-in-out;
	}

	.system-form {
		display: flex;
		flex-direction: column;
	}
}
