.chat-input-container {
	.pui-icon-button.chat-input__icon {
		svg.pui-icon {
			fill: var(--text-color);
		}
	}

	.recording-button__container {
		height: 35px !important;
		width: 35px !important;
	}
}
.input-chat__actions {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	.pui-icon-button {
		// border: 1px solid red;
		border-radius: 50%;
		height: 35px;
		width: 35px;
	}

	.pui-button {
		padding-inline: 0.5rem;
	}
}
