.streaming-content {
	display: inline-flex;
	opacity: 0.6;
	margin-left: 0.35rem;
	animation: streaming-opacity-pulse 1s ease-in-out infinite alternate;
	position: relative;
}

@keyframes streaming-opacity-pulse {
	from {
		opacity: 0.6;
	}
	to {
		opacity: 1;
	}
}
