.message__container .picture__container {
	padding-top: 0.25rem;
	img {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		object-fit: cover;
	}

	@media (max-width: 600px) {
		img {
			width: 20px;
			height: 20px;
		}
	}
}
