.profile-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding-block: 2rem;

	header {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}
}

.separator {
	color: var(--gray);
}

.profile__item {
	display: grid;
	gap: 0.5rem;
}
