.folder-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	gap: 2rem;

	.action-group {
		display: flex;
		gap: 0.5rem;
	}

	.active {
		svg {
			fill: var(--primary);
		}
	}
	.disabled {
		svg {
			fill: var(--color-gray-20);
		}
	}

	.label {
		display: none;
	}

	@media (max-width: 768px) {
		display: none;
		&.visible {
			width: fit-content;
			gap: 0.5rem;
			section {
				flex-direction: column;
				width: 100%;

				&:not(:last-child) {
					border-bottom: 1px solid var(--color-gray-20);
				}
			}
			.menu-item {
				display: flex;
				align-items: center;
				padding: 1rem;

				&:hover {
					background-color: var(--background);
				}
				.label {
					display: block;
					font-size: 14px;
					margin-left: 0.5rem;
				}
			}

			transition: all 0.2s ease;
			display: flex;
			flex-direction: column;
			align-items: start;
			position: absolute;
			right: 10%;
			background-color: var(--surface);
			border-radius: var(--border-radius-base);
			box-shadow: var(--shadow-6);
			z-index: 5;
		}
	}
}
