.access__folder {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 4rem;

	.access-details {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: start;
		justify-content: space-around;

		p {
			max-width: 80%;
		}
	}
	.acccess__ailogo {
		width: auto;
		height: 36px;
	}
	img {
		max-width: 500px;
		aspect-ratio: 15/10;
	}

	@media (max-width: 1368px) {
		flex-direction: column;

		.access-details {
			align-items: center;
			p {
				text-align: center;
			}
		}
		img {
			width: min(90vw, 400px);
		}
	}
}
