.realtime-panel {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary-dark);

	display: grid;
	place-items: center;

	.app-logo {
		max-width: 120px;
	}
	.realtime__status {
		color: var(--on-primary);
	}
	.realtime-actions__container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		.realtime-actions__title {
			font-size: 1.5rem;
			color: var(--white);
		}

		.pui-icon-button {
			height: 4rem;
			width: 4rem;
			border-radius: 50%;
			.pui-icon {
				height: 2rem;
				width: 2rem;
			}
			&.call-icon {
				background: var(--error);
				.pui-icon {
					fill: var(--on-primary);
				}
			}
		}
	}
}
